.barraBusqueda{
    -fx-background-radius: 15px 0px 0px 15px;
    font-size: 20px;
    -fx-font-size: 20px;
    -fx-border-color: black;
    -fx-border-width: 3px;
    -fx-border-radius: 15px 0px 0px 15px;
}

.botonFiltros{
    -fx-background-radius: 0px 15px 15px 0px;
    -fx-background-color: black;
    -fx-font-size: 26px;
    -fx-text-fill: white;
}

.botonUltmosReportes{
    -fx-cursor: hand;
    -fx-background-radius: 18;
    -fx-text-fill: white;
    background-color: black;
    -fx-background-color: black;
    -fx-font-size: 30px;
}

.barraBusquedaModerador{
    -fx-background-radius: 15px;
    font-size: 20px;
    -fx-font-size: 20px;
    -fx-border-color: black;
    -fx-border-width: 3px;
    -fx-border-radius: 15px;
}

.scrollPane .viewport, .scrollPane{
    -fx-background-color: transparent;
}