@font-face {
    font-family: "InstrumentSans";
    src: url("../fonts/Instrument_Sans/static/InstrumentSans-Regular.ttf");
}

*{
    font-family: InstrumentSans;
    -fx-font-family: "InstrumentSans";
    font-size: 20px;
    -fx-font-size: 20px;
}

#backgroundPane{
    background-color: #6699d2;
    -fx-background-color: #6699d2;
}

.inputs, .inputs:focus{
    -fx-background-radius: 25;
}

.botonInicioSesion{
    -fx-background-radius: 25;
    background-color: #0057B7;
    -fx-background-color: #0057B7;
    -fx-text-fill: white;
}

.botonRegistro{
    -fx-background-radius: 25;
    -fx-text-fill: #1c1c1c;
    background-color: #ff8c00;
    -fx-background-color: #ff8c00;

}